.Form .dropdown {
    height: 4vh;
    width: 37vw;
}

.Form .dropdown:focus {
    outline:0;
    background-color: lightgray;
}

.Form label {
    color: #ff1111;
  }


@media only screen and (max-width: 620px)  {
  .Form .dropdown {
    height: 35px;
    width: 210px;
}
  }

@media only screen and (min-width: 1080px)  {
  .Form .dropdown {
    height: 35px;
    width: 360px;
  }
}