.header {
    height: 100vh;
    width: 25vw;
    top:0;
    background-color: #ff7b00;
    position: fixed;
    display: flex;
    text-align:left;
    align-items: flex-start;
    justify-content: flex-start;
}

.contenedor-rutas {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-top: 7vh;

}

.ruta {
    padding-right: 3vh;
}
a {
    color: #2c3e50;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    font-weight: 600;

}

a:hover, a:active {
    color: #ecf0f1;
    transition: all 0.25s ease-in-out;
}