.header {
    height: 10vh;
    width: 100vw;
    top:0;
    background-color:#2ecc71;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.contenedor-rutas {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 25px;
}

a {
    color: #2c3e50;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 0.85em;
    font-weight: 400;
}

a:hover, a:active {
    color: #ecf0f1;
    transition: all 0.25s ease-in-out;
}

@media only screen and (max-width: 420px) {
    .header {
        top:0;
        width: 100vw;
        height: 14vh;
        text-align: left;
    }
    .contenedor-rutas {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto;
    }
    .ruta {
        height: 20px;
    }
    a {
        font-weight: 400;
    }
}