.header {
    height: 7vh;
    width: 100vw;
    top:0;
    background-color: #ff7b00;
    border-bottom: 2px solid #da6d07;
    position: fixed;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

.contenedor-rutas {
    display: flex;
    flex-direction: row;
    margin: 1vh;

}

.ruta {
    padding-right: 3vh;
}
a {
    color: #2c3e50;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;

}

a:hover, a:active {
    color: #ecf0f1;
    transition: all 0.25s ease-in-out;
}