.App {
  width: 100vw;
  display: flex;
  }

  h2 {
    font-family: 'Nunito', sans-serif;
    color: #2c3e50;
  }

  @media only screen and (max-width: 620px)  {

    h2 {
      font-size: 1.25em;
      margin-bottom: 5vh;

    }
  }

@media only screen and (min-width: 1080px)  {

    h2 {
      font-size: 2em;
    }
  }