.App {
  width: 100vw;
  display: flex;
  flex-direction: row;
  }

  h2 {
    font-family: 'Nunito', sans-serif;
    color: #2c3e50;
  }

/* Estilos Globales Formulario */
  .Form {
    margin-left:25vw;
    height: 70vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    background-color: white;
  }

  .Form input {
    height: 3vh;
    width: 35vw;
    padding: 1vh 1vw;
    border-radius: 2vh;
    border: 1px solid rgb(145, 138, 139);
    font-size: 1em;
  }
  
  .Form input:focus {
    outline:0;
    background-color: lightgray;
  }

  .Form button {
    height: 5vh;
    width: 37vw;
    border-radius: 2vh;
    font-size: 1em;
    border: 1px solid #2980b9;
    background-color:#2980b9;
    color: #fff;
    cursor: pointer;
  }

  .Form button:hover {
    background-color: #3498db;
  }

  .Form .dropdown {
    height: 4vh;
    width: 37vw;
}

.Form .dropdown:focus {
    outline:0;
    background-color: lightgray;
}

  @media only screen and (max-width: 620px)  {
    .Form input {
      height: 25px;
      width: 210px;
      padding: 5px;
      border-radius: 15px;      
    }
    .Form button {
      height: 35px;
      width: 220px;
      border-radius: 15px;      
    }
    .Form .dropdown {
      height: 35px;
      width: 210px;
    }
    h2 {
      font-size: 1.25em;
    }
  }

@media only screen and (min-width: 1080px)  {
  .Form input {
     height: 25px;
      width: 350px;
      padding: 5px;
      border-radius: 15px;      
    }
  .Form button {
      height: 35px;
      width: 360px;
      border-radius: 15px;      
    }
  .Form .dropdown {
      height: 35px;
      width: 360px;
    }
    h2 {
      font-size: 2em;
    }
  }

